<nav class="navbar navbar-inverse bg-danger">
  <div class="container-fluid">
    <div class="col-sm-8">
      <div class="navbar-header">
        <a routerLink="/userhome" class="navbar-brand " style="color:black">Pixogram</a>
      </div>
    </div>

    <div class="navbar-form navbar-right">
      <a routerLink=""> <button class="btn btn-dark " type="submit">Log Out</button></a>
    </div>
  </div>
</nav>


<br>
<div class="row">

  <div class="col-sm-2">
    <div class="container">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/user.png" alt="Card image cap">
        <a routerLink="/profilepic">Update Profile Pic</a>
        <div class="card-body">
          <h5 class="card-title">Welcome {{user.name}}</h5>

        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-8">
    <div class="container">
      <div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">

          <div class="form-group row">
            <label class="btn btn-secondary col-6 form-control">
              <input type="file" (change)="selectFile($event)" />
            </label>
            <button type="submit" class="btn btn-primary col-6 form-control" [disabled]="!f.valid">Upload</button>
          </div>
          <div class="form-group row">
            <label for="title" class="col-3  ">Title</label>
            <div class="col-9">
              <input type="text" class="form-control" name="title" id="title" placeholder="Title for your photo"
                autocomplete="off" #title="ngModel" ngModel required>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-3  ">Description</label>
            <div class="col-9">
              <textarea rows="3" cols="50" class="form-control" name="description" id="description" ngModel
                placeholder="Short description about that media" required></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="tags" class="col-3">Tags</label>
            <div class="col-9">
              <input [(ngModel)]="tags" type="text" class="form-control" name="tags" id="tags" placeholder="Hashtags"
                autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center lead">
              <button class="badge badge-dark m-1">Sepia</button>
              <button class="badge badge-dark m-1">Gray</button>
              <button class="badge badge-dark m-1">Brightness</button>
              <button class="badge badge-dark m-1">Contrast</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>


  <div class="col-sm-2">
    <div class="container">
      <a routerLink="/findfriends">
        <img style="width: 18rem" src="/assets/images/f2.jpg" alt="find friends">
        Find Friends
      </a>
    </div>
  </div>

</div>